body{
    color: #000;
   
    background-color: gray;

}
.headline{
    font-size: 2em;
    text-align: center;
    margin-left: 45%;

}



#pastPosts {
  
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 10px;



}
#id{
    width:80%;
    padding: 10px;
    margin: 0 auto;

}
.styleMenu {
    color: #fff;
    
}
#blogTitleText{
    font-size: 2em;
    color: black;
}
#singlePostText{
    font-size: 2em;
    padding-left: 10px;

}
#blogtime{
    font-size: 1em;
    color:brown;
    
    padding-left: 25px;

}
#menuStyle a {
    text-decoration: none;
    padding: 5px;
    color: yellow;
    font-size: 1.5em;
    text-shadow: 10px 10px 4px rgba(150, 150, 150, 1);

}
.styleMenu, a {
    text-decoration: none;
    padding: 5px;
    color: green;
    font-size: 1.5em;
    text-shadow: 10px 10px 4px rgba(150, 150, 150, 1);

    

}
#blogTitle{
    font-size:1.5em;
    padding-right: 20px;


}
#blogTextBox{
    font-size:1.5em;
    padding-right: 20px;
}
#blogTitleHeader {
    font-size: 2em;
    text-align: center;
    padding-top:10px;
    padding-left:25px;
    padding-bottom: 15px;
    color: darkgreen;
    text-shadow: 10px 10px 4px rgba(150, 150, 150, 1);
}
a:hover {
    transition: 1s;
    font-size: 2em;
    color: red;
    text-shadow: 10px 10px 4px rgba(150, 150, 150, 1);


}
#singlePost 
{
    color: #000;
    width: 80%;
    height: 100%;
    border: 2px black solid;
    background-color: #fff;
    padding-bottom: 50px;
    margin: 0 auto;
    border-radius:10px;



}
#menuStyle a:hover {

    transition:1s;
    font-size: 2em;
    color: red;
    text-shadow: 10px 10px 4px rgba(150, 150, 150, 1);

}