body{
    color: #000;
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 1%, rgba(30,87,153,0.98) 2%, rgba(244,244,244,0.33) 42%, rgba(247,247,247,0.2) 50%, rgba(252,252,252,0.41) 63%, rgba(33,106,178,0.98) 99%, rgba(33,106,178,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 1%,rgba(30,87,153,0.98) 2%,rgba(244,244,244,0.33) 42%,rgba(247,247,247,0.2) 50%,rgba(252,252,252,0.41) 63%,rgba(33,106,178,0.98) 99%,rgba(33,106,178,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,1) 1%,rgba(30,87,153,0.98) 2%,rgba(244,244,244,0.33) 42%,rgba(247,247,247,0.2) 50%,rgba(252,252,252,0.41) 63%,rgba(33,106,178,0.98) 99%,rgba(33,106,178,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#216ab2',GradientType=0 ); /* IE6-9 */
background-repeat: none;
height: 100%;

}
.headline{
    font-size: 2em;
    text-align: center;
    margin-left: 45%;

}



#pastPosts {
  
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    border: 2px black solid;


}
#id{
    width:80%;
    padding: 10px;
    margin: 0 auto;

}
.styleMenu {
    color: #fff;
    
}

.styleMenu, a {
    text-decoration: none;
    padding: 5px;
    color: #333;
    

}
#blogTitleHeader {
    font-size: 2em;
    text-align: center;
    padding-top:10px;
    padding-bottom: 15px;
    color: orange;
}
a:hover {
    transform: 3s;
    font-size: 2em;
    color: yellow;


}
#singlePost 
{
    color: #000;
    width: 80%;
    height: 100%;
    border: 2px black solid;
    background-color: #fff;
    padding-bottom: 50px;
    margin: 0 auto;


}