<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        {% block style %}{% endblock %}

    </head>
<body>

<div>
<form>
    <div id="menuStyle">
    <a href="/blog" id="menuBlog" class="topMenuItem" class="styleMenu">Main Blog Page</a>
    <a href="/newpost" id="menuAddNew" class="topMenuItem">Add a Blog Entry</a>
    </div>
</form>
   
</div>
<hr/>
<div id="title">
<span class="headline">Build a Blog!</span>

</div>
    {% block content %}
    {% endblock content %}
    {% block new_blog_content %}
    {% endblock new_blog_content %}

</body>
</html>