{% extends "base.html" %}
{% block style %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css')}}"> 
{%endblock style %}

{% block new_blog_content %}

<div id="pastPosts">
<form method='post'>
   
    <div id="headline"> <span id="blogTitleHeader">Add a Blog Entry</span></div>
    <br/>

    <div id="titleDiv">
        <label>
        <span id="blogTitle">Title for your new blog:</span>
        <input type="text" name='title' value='{{blog_title}}' placeholder="Your Title Here" />
        <p class="error">{{title_error}}</p><br><br>

    </label>
<br/>    
</div>
     <div id="blogText">
         <label>
             <span id="blogTextBox">Your new blog:</span>
             <textarea type="text" name="body" placeholder="Your Text Here">{{blog_body}}</textarea>
             <p class="error">{{body_error}}</p><br>

            </label>
     </div>   
    <input type="submit" value='Post' />
</form>
</div>
{% endblock new_blog_content %}

